img {
    width: 250px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(40,40,40);
}
.main{
    width: 100%;
    background: rgb(40,40,40);
    background-position: center;
    background-size: cover;
    height: auto;
    padding-bottom: 10px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
}
.btn {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #000000;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
a {
    color: white;
    text-decoration: none;
}
.search-form{
    margin-top: 5px;
    float: right;
    margin-right: 70px;
}
input[type=text] {
    padding: 7px;
    border: none;
    font-size: 16px;
}
footer *{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap:wrap;
}

.footer{
    background-color: #24262b;
    padding: 20px 0;
}
.footer-col{
    width: 30%;
    padding: 0 200px;
}
.footer-col h4{
    font-size: 30px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffff;
    padding-left: 8px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 15px;
  }
h2 {
    color: white;
    padding-left: 20px;
    font-size: 15px;
    font-weight:normal; 
}
.container {
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    background: white;
    width: 90%px;
    height: auto;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 20px;
    padding-left: 20px;
}
h1 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    padding-right: 25px;
    padding-top: 15px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #ffffff;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #ffffff;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  max-width: 768px;
  margin: 60px auto;
  position: relative;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #ffffff;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #ffffff;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #ffffff;
	color: #ffffff;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  outline: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #ffffff;
}

:-moz-placeholder { 
	color: #ffffff;
	opacity: 1;
}

::-moz-placeholder {
	color: #ffffff;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #ffffff;
}

#form_button {
  background: none;
  border: solid 2px #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
h5 {
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}
h6 {
    color: white;
    font-size: 50px;
    text-align: center;
}
text {
  color:rgb(0, 0, 0);
}