img {
    width: 250px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(40,40,40);
}
html {
    height: 100%;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(city.jpeg);
    background-position: center;
    background-size: cover;
    height: auto;
    padding-bottom: 10px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
a {
    color: white;
    text-decoration: none;
}
input[type=text] {
    padding: 7px;
    border: none;
    font-size: 16px;
}
h1 {
    color: white;
    text-align: center;
    font-size: 200px;
    margin-top: 60px;
}
p {
    color: white;
    text-align: center;
    font-size: 50px;
}
footer *{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 20px 0;
}
.footer-col{
    width: 30%;
    padding: 0 200px;
}
.footer-col h4{
    font-size: 30px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffff;
    padding-left: 8px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 15px;
  }
h2 {
    color: white;
    padding-left: 20px;
    font-size: 15px;
    font-weight:normal; 
}
h5 {
    text-decoration: overline;
    font-size: 20px;
    color: white;
    font-weight: normal;
    padding-left: 30px;
}
.container{
    justify-content: center;
    flex-wrap: wrap;
}
h3 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: left;
    text-decoration: underline;
    padding-top:15px;
}
.word {
    background: white;
    width: 90%px;
    height: auto;
    padding-bottom: 20px;
    margin: 10px;
    border-radius: 20px;
    padding-left: 20px;
}
p1 {
    font-size: 20px;
    color: black;
}
.btn {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #000000;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.container1 {
    background-color: white;
    height: 795.98px;;
    color: #000000;
}